<!--<h1>Welcome#new</h1>-->

<div class="content">
  <div class="container">
    <div class="row justify-content-center">
      <div class="card" style="width: 36rem; height: 28rem;">
        <div class="card-body">
          <p class="p_head"> Welcome to </p>
          <p class="p_head"> TCC Weekly! <br><br> </p>
          <p> This website is designed for you to create events for the TCC App!<br><br><br><br><br><br>If you are an approved user, sign in below!<br><br><br> </p>
          <div class="row justify-content-center">
            <%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path, class: "btn btn-primary a-custom2" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
