/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require simple_calendar
 */
 @import "bootstrap";

.navbar-custom {
  background-color: #f26d6d;
  // navbar-expand-lg navbar-dark bg-dark
}

.navbar {
  a:hover {
    background-color: #007bff !important;
    color: white !important;
  }
}

a:hover, a:active {
  background-color: #007bff;
  color: white !important;
  text-decoration: none;
}

a:link, a:visited {
  color: blue;
}

.a-custom{
  margin-top: .5em;
}

.simple-calendar {
  .day {}

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {}
  .past {}
  .future {}

  .start-date {}

  .prev-month {}
  .next-month { }
  .current-month {}

  .has-events {}
}

.calendar-heading {
  position: relative;
  left: 40%;
  top:40%;
  padding-bottom: 0.4em;
  span{
    font-size: 1.2rem !important;
    font-weight: bold;
  }
}

.error, .alert {background:#ff6b6b;padding:0.8em;margin-bottom:1em;border:2px solid #ddd;}
.success, .confirmations, .already_authenticated, .notice, .info {background:#e6efc2;color:#264409;border-color:#c6d880;padding:0.8em;margin-bottom:1em;}
